<mat-grid-list cols="1" rowHeight="15em">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <mat-icon aria-hidden="false" aria-label="Zaposleni" routerLink="/employee" routerLinkActive="active">people_alt</mat-icon>
            </mat-card-content>
            <mat-card-content>
                <p><a mat-button routerLink="/employee" routerLinkActive="active"> Pregled evidencije zaposlenih </a></p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/supply" routerLinkActive="active">inventory_2</mat-icon>
            </mat-card-content>
            <mat-card-content>
                <p><a mat-button routerLink="/employee" routerLinkActive="active"> Pregled evidencije zaliha</a></p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/workOrder" routerLinkActive="active">receipt_long</mat-icon>
            </mat-card-content>
            <mat-card-content>
                <p><a mat-button routerLink="/employee" routerLinkActive="active"> Kreiranje radnog naloga </a></p>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
