<mat-grid-list cols="1" rowHeight="15em">
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <mat-icon aria-hidden="false" aria-label="Zaposleni" routerLink="/employee" routerLinkActive="active">people_alt</mat-icon>
            </mat-card-content>
            <mat-card-content>
                <a routerLink="/employee" routerLinkActive="active"> <p> Pregled evidencije zaposlenih </p></a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/supply" routerLinkActive="active">inventory_2</mat-icon>
            </mat-card-content>
            <mat-card-content>
                <a routerLink="/employee" routerLinkActive="active"> <p>Pregled evidencije zaliha </p></a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card>
            <mat-card-content>
                <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/workOrder" routerLinkActive="active">receipt_long</mat-icon>
            </mat-card-content>
            <mat-card-content>
                <a routerLink="/employee" routerLinkActive="active"> <p> Kreiranje radnog naloga </p></a>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
