<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <mat-accordion>
      <a mat-button style="text-align:center">
        <mat-icon routerLink="['home']" routerLinkActive="active">home</mat-icon>
      </a>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Skladište
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button routerLink="['employee']" routerLinkActive="active">Zaposleni</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button routerLink="['supply']" routerLinkActive="active">Zalihe</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-button routerLink="['workOrder']" routerLinkActive="active">Radni nalog</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Informacije
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-button routerLink="/about" routerLinkActive="active">Pomoć</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
