.container {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    max-width: 600px;
    margin-left: 20%;
    margin-top: 7%;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form {
    display: flex;
}

.mat-form-field {
    font-size: 16px;
    flex-grow: 1;
}