.card-container{
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 50px;
    position: relative;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: large;
}
.mat-card {
    background-color: #ffe1e6;
}