<div class="card-container"> 
<mat-card>
    <mat-card-header>
        <mat-card-title>O samoj aplikaciji</mat-card-title>
        <mat-card-subtitle>Opis sistema i korisni linkovi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        Za razvoj informacionog sistema odabran je proizvodni sistem preduzeća koje se bavi proizvodnjom kolača, torti i konditorskih proizvoda. Modul informacionog sistema se odnosi na sistem za upravljanje skladištem, odnosno upravljanje zalihama. Upravljanje zalihama kod prehrambene industrije i ovakvih proizvodnih sistema je ključan proces jer se osnovna delatnost ne može izvršavati ukoliko zalihe nisu dostupne. Takođe, karakteristično za ove sisteme je to što su zalihe kvarljive pa je potrebno voditi računa o rokovima trajanja zaliha. Pored kvarljivosti i potrošnosti zaliha, akcentuje se i potreba za optimizacijom ovih procesa kako bi zalihe stizale na vreme i smanjila se verovatnoća kvarenja zaliha, sledeće pitanja je i stanje samih skladišta i proces čuvanja zaliha kako je kaliranje dobara jedan od bitnijih aspekata. 
    </mat-card-content>
    <mat-card-content>
        Osnovna delatnost ove organizacije predstavlja proizvodnja i promet kolača, torti i drugih konditorskih proizvoda. Kako se organizacija bavi i izvozom, potrebno je ispoštovati određenje zahteve za stepen stručne spreme zaposlenih kao i određene hemijske analize proizvoda po merama zavoda za javno zdravlje. Distribucija proizvoda se, pored prodaje u svojim maloprodajnim objektima vrši i prodajom drugim pravnim licima. Procesi unutar organizacije poštuju integrisan sistem kvaliteta koji je dokazan sertifikovanim sistemom menadžmenta kvalitetom, pa se primenjuje četrnaest procedura, dvadeset uputstava, petnaest radnih instrukcija, dvanaest planova kvaliteta i kontrolisanja, tri dijagrama toka, analize opasnosti i osamdeset i četiri zapisa.
    </mat-card-content>
</mat-card>
</div>